[mongodb]
#mongodb 的地址
host=54.223.178.198
# mongodb的端口
port=27110

[file]
#计算的起始时间
start_time=2015-11-01
#计算的终止时间
end_time=2015-11-06
#存放数据的路径
filepath=/home/cy/tmp/pm/
[calculate]
# 计算的时间间隔,逐小时
gaps=[1,2,3,4,5,6,7,8,9]
#站点数目
city_num=1711
# 预测的小时数 当前取的是0到240
predict_hour=241
#计算各个等级差所占的比例, 所算的等级差范围, 超出这个范围将不考虑
bins=[0,1,2,3,4,5]


[log]
level=info

[qiniu]
sk=
ak=
bucket=
